/*-------------------------------B A S I C-------------------------------*/


body {
  margin: 0;
  padding: 0;
}

:root {
  --p1-bg: #e8e8e8;
  --prime-color: #232323;
  --grey20-color: #999;
  --brand-1: #4E9B8E;
}
